:root {
    --cor-fundo: #f4f7f6;
    --cor-sidebar: #ffffff;
    --cor-texto: #333333;
    --cor-destaque: #007bff;
    --cor-destaque-hover: #0056b3;
    --cor-borda: #e0e0e0;
    --sombra-caixa: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body.modo-escuro {
    --cor-fundo: #121212;
    --cor-sidebar: #1e1e1e;
    --cor-texto: #f0f0f0;
    --cor-destaque: #36a3ff;
    --cor-destaque-hover: #1e88e5;
    --cor-borda: #333333;
    --sombra-caixa: 0 4px 12px rgba(0, 0, 0, 0.2);
}


body {
    font-family: sans-serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0px;
}

#nav-principal {
    width: 50vh;
    height: 100vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1%;
    background: var(--cor-fundo);
    box-shadow: var(--sombra-caixa)
}

#nav-principal-header {
    margin: 5% 0% 0% 5%;
}

.nav-principal-header-item {
    margin: 0px 0px 0vh 0px;
}

#alternador-tema {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 5% 5% 0% 0%;
}

#nav-principal-menu li {
    list-style: none;
}

.nav-principal-bt {
    width: 100%;
    text-align: start;
    font-size: larger;
    padding: 5% 0% 5% 6%;
    color: rgb(29, 29, 29);
    border: transparent;
    background: transparent;
}

#nav-principal-menu {
    margin: 5% 0% 0% 0%;
    padding: 0px;
}

.nav-principal-bt:hover {
    background-color: #f1f1f1ff
}

#container-pagina {
    padding: 3vh 0% 0% 5vh;
    flex-wrap: wrap;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
}