body {
    --cor-fundo: #f4f7f6;
    --cor-sidebar: #ffffff;
    --cor-texto: #333333;
    --cor-destaque: #007bff;
    --cor-destaque-hover: #0056b3;
    --cor-borda: #e0e0e0;
    --sombra-caixa: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body.modo-escuro {
    --cor-fundo: #121212;
    --cor-sidebar: #1e1e1e;
    --cor-texto: #f0f0f0;
    --cor-destaque: #36a3ff;
    --cor-destaque-hover: #1e88e5;
    --cor-borda: #333333;
    --sombra-caixa: 0 4px 12px rgba(0, 0, 0, 0.2);
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.roboto-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-title {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html,
body {
    margin: 0px;
    padding: 0px;
}



img {
    border-radius: 80px;
    width: 300px;
    height: 300px;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    background: var(--cor-fundo);
}

p {
    text-align: justify;
    /* font-size: larger; */
}

.invisivel {
    display: none !important;
}



#nav-principal {
    width: 25vw;
    height: 100vh;
    min-width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw 1vw 0% 1vw;
    background: var(--cor-sidebar);
    box-shadow: var(--sombra-caixa)
}

#nav-principal-header-text {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

#nav-principal-header {
    display: flex;
    flex-direction: column;
    /* margin: 5% 0% 0% 5%; */
}

.nav-principal-header-item {
    margin: 0px 0px 0vh 0px;
    color: var(--cor-texto);
    width: 300px;
}

#alternador-tema {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding: 5% 0% 0% 0%;
    color: var(--cor-texto);
}

#nav-principal-menu li {
    list-style: none;
}

.nav-principal-bt:hover {
    cursor: pointer;
}

#btn-abrir-menu {
    width: 72px;
    height: 72px;
    border-radius: 80px;
    margin: 1vw 0% 0% 1vw;
    border: transparent;
    display: block;
}

#btn-fechar-menu {
    width: 72px;
    height: 72px;
    border-radius: 80px;
    border: transparent;
    display: block;
}

.nav-principal-bt {
    width: 300px;
    text-align: start;
    border-radius: 80px;
    height: auto;
    display: flex;
    align-items: center;
    color: var(--cor-texto);
    padding: 5% 0% 5% 6%;
    border: transparent;
    background-color: transparent;
}

.nav-principal-bt img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

#nav-principal-menu {
    margin: 5% 0% 0% 0%;
    padding: 0px;
}

.nav-principal-bt:hover {
    background-color: var(--cor-borda);
}

.nav-bt-selecionado {
    background-color: #f1f1f1ff
}

#container-pagina {
    display: inherit;
    padding: 5% 5% 5% 5%;
    flex-wrap: wrap;
    width: 100%;
    color: var(--cor-texto);
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (min-width: 1280px) {
    /* #btn-fechar-menu {
        display: none;
    }

    #btn-abrir-menu {
        display: none;
    } */
  .pagina p {
        max-width:40vw;
    }
    #nav-principal {
        display: flex;
    }
}

@media (max-width: 1279px) {
    body {
        flex-direction: column;
    }

    #nav-principal {
        padding: 24px 24px 24px 24px;
    }

    #btn-abrir-menu {
        margin: 24px 0% 0% 24px;
    }


    #nav-principal {
        display: inline;
        position: absolute;
        width: fit-content;
        height: 100%;
    }

    .nav-principal-bt {
        width: 300px;
        text-align: start;
        border-radius: 20px;
        height: auto;
        color: var(--cor-texto);
        margin: 0% 0% 24px 0%;
        padding: 3vh 3vw 3vh 3vw;
        border: transparent;
        background-color: transparent;
    }

    .pagina p {
        max-width: 100vw;
    }

    .nav-bt-selecionado {
        background-color: #f1f1f1
    }

    .invisivel-mobile {
        display: none !important;
    }
}